@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #160d62;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --font-lora: var(--font-lora);
  --shadow-button: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@theme {
  --color-iframe-500: #a3d0dd;
  --color-iframe-600: #91c7d7;

  --color-beige: #f8f6ee;
  --color-grey-light: #f6f6f6;

  --color-navy-300: #746da3;
  --color-navy-400: #423784;
  --color-navy-450: #1e2a87;
  --color-navy-500: #170c66;
  --color-navy: #170c66;

  --color-yellow: #fae164;
  --color-teal: #02afbd;
  --color-teal-intense: #05a4b1;
  --color-teal-tint-black: #00afbe;
  --color-red: #d12f21;
  --color-neutral: #f8f6vef;
  --color-cool-blue: #243a58;
  --color-grass-green: #466c20;
  --color-sky-blue: #4785cb;
  --color-evergreen: #59b169;

  --breakpoint-xs: 480px;
}

html {
  @apply h-full scroll-smooth antialiased;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply flex h-full flex-col;
}

main {
  @apply flex-1;
}

.margins-y-0 > *:first-child {
  margin-top: 0 !important;
}

.margins-y-0 > *:last-child {
  margin-bottom: 0 !important;
}

@layer components {
  .prose > *:first-child {
    margin-top: 0 !important;
  }

  .prose > *:last-child {
    margin-bottom: 0 !important;
  }

  .tag {
    @apply font-sans text-[22px] leading-normal font-bold tracking-[-0.01em] uppercase md:text-[25px];
  }

  .header-1 {
    @apply font-sans text-[45px] leading-[1.18] font-bold tracking-[-0.01em] md:text-[55px];
  }

  .header-2 {
    @apply font-sans text-[38px] leading-[1.18] font-bold tracking-[-0.01em] md:text-[50px];
  }

  .header-3 {
    @apply font-sans text-[30px] leading-[1.18] font-bold tracking-[-0.01em] md:text-[35px];
  }

  .header-4 {
    @apply font-sans text-[26px] leading-normal font-bold tracking-[-0.01em] md:text-[30px];
  }

  .header-5 {
    @apply font-sans text-[22px] leading-normal font-bold tracking-[-0.01em] md:text-[20px];
  }

  .header-6 {
    @apply font-sans text-[16px] leading-normal font-bold tracking-[-0.01em] md:text-[16px];
  }

  .body-xl {
    @apply font-lora text-[24px] leading-[1.6];
  }

  .body-lg {
    @apply font-lora text-[20px] leading-[1.6];
  }

  .body-md {
    @apply font-lora text-[18px] leading-[1.6];
  }

  .body-base {
    @apply font-lora text-[16px] leading-[1.6];
  }

  .body-sm {
    @apply font-lora text-[14px] leading-[1.6];
  }

  .underline-highlight {
    @apply decoration-teal underline decoration-[15.5%] underline-offset-2;
  }

  /*****************
  Squarespace Styles
  *****************/

  .header-sqsp-1 {
    @apply font-sans text-[2.7rem] leading-[1.2] font-bold tracking-[-0.01em] md:text-[3.4rem];
  }

  .header-sqsp-2 {
    @apply font-sans text-[2rem] leading-[1.2] font-bold tracking-[-0.01em] md:text-[2.6rem];
  }

  .header-sqsp-3 {
    @apply font-sans text-[1.7rem] leading-[1.2] font-semibold tracking-[-0.01em] md:text-[1.8rem];
  }

  .header-sqsp-4 {
    @apply font-sans text-[1.17rem] leading-[1.2] font-semibold tracking-[-0.01em] md:text-[1.35rem];
  }

  .body-sqsp-lg {
    @apply font-lora text-[1.7rem] leading-normal;
  }

  .body-sqsp-md {
    @apply font-lora text-[1.1rem] leading-normal;
  }

  .body-sqsp-sm {
    @apply font-lora text-[0.9rem] leading-normal;
  }
}

@layer utilities {
  .text-wrap-pretty {
    text-wrap: pretty;
  }
  .text-wrap-balance {
    text-wrap: balance;
  }
}
