@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #160d62;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --font-lora: var(--font-lora);
  --shadow-button: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@theme {
  --color-ink-300: #746da3;
  --color-ink-400: #423784;
  --color-ink-450: #1e2a87;
  --color-ink-500: #160d62;
  --color-ink: #160d62;

  --color-iframe-500: #a3d0dd;
  --color-iframe-600: #91c7d7;

  --color-vale-500: #c8e3eb;

  --color-row-highlight: #d8f3fb;

  --color-sand: #f8f6ef;

  --color-sand-50: #fefdfb;
  --color-sand-100: #fcfaf6;
  --color-sand-200: #f8f6ef;
  --color-sand-300: #f0ebe2;
  --color-sand-400: #e5dfd4;
  --color-sand-500: #d4cec2;
  --color-sand-600: #b8b2a4;
  --color-sand-700: #969086;
  --color-sand-800: #6d6960;
  --color-sand-900: #44423c;
  --color-sand-950: #1c1b18;

  --color-cc-navy: #160d62;
  --color-cc-yellow: #fae164;
  --color-cc-teal: #00afbe;
  --color-cc-red: #d12f21;
  --color-cc-neutral: #f8f6ef;
  --color-cc-cool-blue: #243a58;
  --color-cc-grass-green: #466c20;
  --color-cc-sky-blue: #4785cb;
  --color-cc-evergreen: #59b169;

  --text-3xl: 3.4rem; /* H1 54.4px */
  --text-2xl: 2.6rem; /* H2 41.6px */
  --text-xl: 1.8rem; /* H3 28.8px */
  --text-lg: 1.35rem; /* H4 21.6 px */
  --text-base: 1.1rem; /* Body 17.6px */
  --text-sm: 0.9rem; /* Small 14.4px */
  --text-xs: 0.75rem; /* XSmall 12px */

  --leading-tight: 1.12em;
  --leading-normal: 1.5em;
  --tracking-tight: -0.01em;

  --breakpoint-xs: 480px;
}

html {
  @apply h-full scroll-smooth antialiased;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply flex h-full flex-col;
}

main {
  @apply flex-1;
}

.margins-y-0 > *:first-child {
  margin-top: 0 !important;
}

.margins-y-0 > *:last-child {
  margin-bottom: 0 !important;
}

@layer components {
  .prose > *:first-child {
    margin-top: 0 !important;
  }

  .prose > *:last-child {
    margin-bottom: 0 !important;
  }

  .header-1 {
    @apply font-sans text-[2.7rem] leading-[1.2] font-bold tracking-tight md:text-3xl;
  }

  .header-2 {
    @apply font-sans text-[2rem] leading-[1.2] font-bold tracking-tight md:text-2xl;
  }

  .header-3 {
    @apply font-sans text-[1.7rem] leading-[1.2] font-semibold tracking-tight md:text-xl;
  }

  .header-4 {
    @apply font-sans text-[1.17rem] leading-[1.2] font-semibold tracking-tight md:text-lg;
  }

  .body-lg {
    @apply font-lora text-lg;
  }

  .body-md {
    @apply font-lora text-base;
  }

  .body-sm {
    @apply font-lora text-sm;
  }

  .body-xs {
    @apply font-lora text-xs;
  }
}

@layer utilities {
  .text-wrap-pretty {
    text-wrap: pretty;
  }
  .text-wrap-balance {
    text-wrap: balance;
  }
}
